<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="CoreComponents" Directory="INSTALLFOLDER">
      <Files Include="$(var.Gtk4FrontendRoot)\fabulor.exe" />
      <Files Include="$(var.Gtk4FrontendRoot)\fabulor-gtk4-frontend.dll" />
      <Files Include="$(var.FabulorPayloadRoot)\cert.pem" />
      <Files Include="$(sys.SOURCEFILEDIR)..\..\win32\copy\changelog.url" />
      <Files Include="$(var.FabulorPayloadRoot)\libcrypto-3-x64.dll" />
      <Files Include="$(var.FabulorPayloadRoot)\libssl-3-x64.dll" />
      <Files Include="$(sys.SOURCEFILEDIR)..\..\win32\copy\readme.url" />
    </ComponentGroup>
  </Fragment>
</Wix>
