<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="Enchant2ProviderComponents" Directory="LIBENCHANT2DIR">
      <Files Include="$(var.Gtk4EnchantRoot)\lib\enchant-2\enchant_winspell.dll" />
    </ComponentGroup>

    <ComponentGroup Id="Enchant2DataComponents" Directory="SHAREENCHANT2DIR">
      <Files Include="$(var.Gtk4EnchantRoot)\share\enchant-2\enchant.ordering" />
    </ComponentGroup>

    <ComponentGroup Id="EnchantLegacyCleanupComponents" Directory="INSTALLFOLDER">
      <Component Id="RemoveLegacyEnchantCore" Guid="D373104B-0F18-4BF8-BD09-2CE574D5DDC9">
        <RemoveFile Id="RemoveLegacyEnchantDll" Name="libenchant.dll" On="install" />
        <RemoveFile Id="RemoveAlternateEnchant2Dll" Name="libenchant-2.dll" On="install" />
        <RegistryValue Root="HKLM" Key="Software\Fabulor\Installer"
                       Name="EnchantLegacyCoreCleanup" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="RemoveLegacyEnchantProviders" Directory="LEGACYENCHANTDIR" Guid="17DF0C40-22CB-46CF-9A0E-819DD066E68B">
        <RemoveFile Id="RemoveLegacyEnchantProviderFiles" Name="*" On="install" />
        <RemoveFolder Id="RemoveLegacyEnchantProviderDirectory" On="install" />
        <RegistryValue Root="HKLM" Key="Software\Fabulor\Installer"
                       Name="EnchantLegacyProviderCleanup" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="RemoveLegacyEnchantData" Directory="SHARELEGACYENCHANTDIR" Guid="823262C3-66D0-40EE-ADE0-D268912B13BC">
        <RemoveFile Id="RemoveLegacyEnchantDataFiles" Name="*" On="install" />
        <RemoveFolder Id="RemoveLegacyEnchantDataDirectory" On="install" />
        <RegistryValue Root="HKLM" Key="Software\Fabulor\Installer"
                       Name="EnchantLegacyDataCleanup" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
