<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="GTK4Components" Directory="GTK4DIR">
      <Files Include="$(var.GtkRuntimeRoot)\bin\*.dll" />
      <Files Include="$(var.GtkRuntimeRoot)\etc\**" />
      <Files Include="$(var.GtkRuntimeRoot)\lib\gdk-pixbuf-2.0\**" />
      <Files Include="$(var.GtkRuntimeRoot)\lib\gio\**" />
      <Files Include="$(var.GtkRuntimeRoot)\lib\girepository-1.0\**" />
      <Files Include="$(var.GtkRuntimeRoot)\lib\glib-2.0\**" />
      <Files Include="$(var.GtkRuntimeRoot)\lib\gobject-introspection\**" />
      <Files Include="$(var.GtkRuntimeRoot)\share\fontconfig\**" />
      <Files Include="$(var.GtkRuntimeRoot)\share\gettext\**" />
      <Files Include="$(var.GtkRuntimeRoot)\share\gir-1.0\**" />
      <Files Include="$(var.GtkRuntimeRoot)\share\glib-2.0\**" />
      <Files Include="$(var.GtkRuntimeRoot)\share\gobject-introspection-1.0\**" />
      <Files Include="$(var.GtkRuntimeRoot)\share\gtk-4.0\**" />
      <Files Include="$(var.GtkRuntimeRoot)\share\gtksourceview-5\**" />
      <Files Include="$(var.GtkRuntimeRoot)\share\icons\**" />
      <Files Include="$(var.GtkRuntimeRoot)\share\licenses\**" />
      <Files Include="$(var.GtkRuntimeRoot)\share\locale\**" />
      <Files Include="$(var.GtkRuntimeRoot)\share\xml\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
