<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="GTK4Components">
      <ComponentGroupRef Id="GTK4CandidateRootComponents" />
      <ComponentGroupRef Id="GTK4CandidateBinComponents" />
      <ComponentGroupRef Id="GTK4CandidateEtcFontsComponents" />
      <ComponentGroupRef Id="GTK4CandidateGdkPixbufComponents" />
      <ComponentGroupRef Id="GTK4CandidateShareFontconfigComponents" />
      <ComponentGroupRef Id="GTK4CandidateShareGlibSchemasComponents" />
      <ComponentGroupRef Id="GTK4CandidateShareGtkComponents" />
      <ComponentGroupRef Id="GTK4CandidateShareIconsComponents" />
      <ComponentGroupRef Id="GTK4CandidateShareLicensesComponents" />
      <ComponentGroupRef Id="GTK4CandidateShareLocaleComponents" />
      <ComponentGroupRef Id="GTK4CandidateShareXmlComponents" />
    </ComponentGroup>

    <ComponentGroup Id="GTK4CandidateRootComponents" Directory="GTK4DIR">
      <Files Include="$(var.GtkRuntimeRoot)\runtime-manifest.json" />
    </ComponentGroup>
    <ComponentGroup Id="GTK4CandidateBinComponents" Directory="GTK4BINDIR">
      <Files Include="$(var.GtkRuntimeRoot)\bin\*.dll" />
      <Files Include="$(var.GtkRuntimeRoot)\bin\gspawn-win64-helper-console.exe" />
      <Files Include="$(var.GtkRuntimeRoot)\bin\gspawn-win64-helper.exe" />
    </ComponentGroup>
    <ComponentGroup Id="GTK4CandidateEtcFontsComponents" Directory="GTK4ETCFONTSDIR">
      <Files Include="$(var.GtkRuntimeRoot)\etc\fonts\**" />
    </ComponentGroup>
    <ComponentGroup Id="GTK4CandidateGdkPixbufComponents" Directory="GTK4GDKPIXBUFDIR">
      <Files Include="$(var.GtkRuntimeRoot)\lib\gdk-pixbuf-2.0\**" />
    </ComponentGroup>
    <ComponentGroup Id="GTK4CandidateShareFontconfigComponents" Directory="GTK4SHAREFONTCONFIGDIR">
      <Files Include="$(var.GtkRuntimeRoot)\share\fontconfig\**" />
    </ComponentGroup>
    <ComponentGroup Id="GTK4CandidateShareGlibSchemasComponents" Directory="GTK4SHAREGLIBSCHEMASDIR">
      <Files Include="$(var.GtkRuntimeRoot)\share\glib-2.0\schemas\**" />
    </ComponentGroup>
    <ComponentGroup Id="GTK4CandidateShareGtkComponents" Directory="GTK4SHAREGTKDIR">
      <Files Include="$(var.GtkRuntimeRoot)\share\gtk-4.0\**" />
    </ComponentGroup>
    <ComponentGroup Id="GTK4CandidateShareIconsComponents" Directory="GTK4SHAREICONSDIR">
      <Files Include="$(var.GtkRuntimeRoot)\share\icons\**" />
    </ComponentGroup>
    <ComponentGroup Id="GTK4CandidateShareLicensesComponents" Directory="GTK4SHARELICENSESDIR">
      <Files Include="$(var.GtkRuntimeRoot)\share\licenses\**" />
    </ComponentGroup>
    <ComponentGroup Id="GTK4CandidateShareLocaleComponents" Directory="GTK4SHARELOCALEDIR">
      <Files Include="$(var.GtkRuntimeRoot)\share\locale\**" />
    </ComponentGroup>
    <ComponentGroup Id="GTK4CandidateShareXmlComponents" Directory="GTK4SHAREXMLDIR">
      <Files Include="$(var.GtkRuntimeRoot)\share\xml\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
