<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Property Id="IRC_PROTOCOL_HANDLER">
      <RegistrySearch Id="IrcProtocolHandlerSearch"
                      Root="HKLM"
                      Key="Software\Classes\irc\shell\open\command"
                      Type="raw"
                      Bitness="always64" />
    </Property>
    <Property Id="IRCS_PROTOCOL_HANDLER">
      <RegistrySearch Id="IrcsProtocolHandlerSearch"
                      Root="HKLM"
                      Key="Software\Classes\ircs\shell\open\command"
                      Type="raw"
                      Bitness="always64" />
    </Property>
    <ComponentGroup Id="InstalledModeCoreComponents">
      <Component Id="InstalledModeCleanup" Guid="0A54F269-9BDB-4D60-9FD7-E5F9D4B6A1E8" Directory="INSTALLFOLDER" Condition="NOT FABULOR_PORTABLE">
        <RemoveFile Id="RemoveInstalledStartMenuShortcut"
                    Directory="ApplicationProgramsFolder"
                    Name="Fabulor.lnk"
                    On="uninstall" />
        <RemoveFile Id="RemoveInstalledSafeModeStartMenuShortcut"
                    Directory="ApplicationProgramsFolder"
                    Name="Fabulor Safe Mode.lnk"
                    On="uninstall" />
        <RemoveFolder Id="RemoveInstalledConfigFolder" Directory="CONFIGDIR" On="uninstall" />
        <RemoveFolder Id="RemoveInstalledDotNetFolder" Directory="DOTNETDIR" On="uninstall" />
        <RemoveFolder Id="RemoveInstalledRuntimeFolder" Directory="RUNTIMEDIR" On="uninstall" />
        <RemoveFolder Id="RemoveInstalledProgramMenuFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RemoveFolder Id="RemoveInstalledInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
        <RegistryValue Root="HKLM"
                       Key="Software\Fabulor\Installer"
                       Name="InstalledModeCleanup"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="StartMenuComponents">
      <Component Id="StartMenuShortcuts" Guid="F43D5E14-9D5A-4F9D-8E44-4B45F2F8D211" Directory="ApplicationProgramsFolder" Condition="NOT FABULOR_PORTABLE">
        <Shortcut Id="FabulorStartMenuShortcut"
                  Name="Fabulor"
                  Target="[INSTALLFOLDER]fabulor.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="FabulorSafeModeStartMenuShortcut"
                  Name="Fabulor Safe Mode"
                  Target="[INSTALLFOLDER]fabulor.exe"
                  Arguments="--no-auto --no-plugins"
                  WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveFabulorProgramMenuFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\Fabulor\Installer"
                       Name="StartMenuShortcuts"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="DesktopShortcutComponents">
      <Component Id="DesktopShortcut" Guid="A4738A07-DB0F-40B4-88DE-242C2DEF653E" Directory="DesktopFolder" Condition="NOT FABULOR_PORTABLE">
        <Shortcut Id="FabulorDesktopShortcut"
                  Name="Fabulor"
                  Target="[INSTALLFOLDER]fabulor.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU"
                       Key="Software\Fabulor\Installer"
                       Name="DesktopShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ShellIntegrationComponents">
      <Component Id="IrcProtocolRegistrationV2" Guid="67349AC3-5818-4F78-BE4A-A4B117632238" Directory="INSTALLFOLDER" Condition="NOT FABULOR_PORTABLE">
        <RegistryKey Root="HKLM" Key="Software\Classes\Fabulor.Url.Irc">
          <RegistryValue Type="string" Value="Fabulor IRC URL" />
          <RegistryValue Name="URL Protocol" Type="string" Value="" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\Fabulor.Url.Irc\DefaultIcon">
          <RegistryValue Type="string" Value="[INSTALLFOLDER]fabulor.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\Fabulor.Url.Irc\shell">
          <RegistryValue Type="string" Value="open" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\Fabulor.Url.Irc\shell\open\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]fabulor.exe&quot; --url=&quot;%1&quot;" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\Fabulor.Url.IrcSecure">
          <RegistryValue Type="string" Value="Fabulor secure IRC URL" />
          <RegistryValue Name="URL Protocol" Type="string" Value="" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\Fabulor.Url.IrcSecure\DefaultIcon">
          <RegistryValue Type="string" Value="[INSTALLFOLDER]fabulor.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\Fabulor.Url.IrcSecure\shell">
          <RegistryValue Type="string" Value="open" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\Fabulor.Url.IrcSecure\shell\open\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]fabulor.exe&quot; --url=&quot;%1&quot;" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Fabulor\Capabilities">
          <RegistryValue Name="ApplicationName" Type="string" Value="Fabulor" />
          <RegistryValue Name="ApplicationDescription" Type="string" Value="Fabulor IRC client" />
          <RegistryValue Name="ApplicationIcon" Type="string" Value="[INSTALLFOLDER]fabulor.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Fabulor\Capabilities\UrlAssociations">
          <RegistryValue Name="irc" Type="string" Value="Fabulor.Url.Irc" />
          <RegistryValue Name="ircs" Type="string" Value="Fabulor.Url.IrcSecure" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Fabulor\Capabilities\FileAssociations">
          <RegistryValue Name=".hct" Type="string" Value="Fabulor.Theme" />
        </RegistryKey>
        <RegistryValue Root="HKLM"
                       Key="Software\RegisteredApplications"
                       Name="Fabulor"
                       Type="string"
                       Value="Software\Fabulor\Capabilities" />
        <RegistryValue Root="HKLM"
                       Key="Software\Fabulor\Installer"
                       Name="IrcProtocol"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
      <Component Id="IrcProtocolFallbackRegistration" Guid="8236D81C-95C7-4C85-A99D-22E5EF6895D5" Directory="INSTALLFOLDER" Condition="NOT FABULOR_PORTABLE AND (NOT IRC_PROTOCOL_HANDLER OR IRC_PROTOCOL_HANDLER ~&gt;&lt; &quot;fabulor.exe&quot;)" NeverOverwrite="yes">
        <RegistryKey Root="HKLM" Key="Software\Classes\irc">
          <RegistryValue Type="string" Value="URL:IRC Protocol" />
          <RegistryValue Name="URL Protocol" Type="string" Value="" KeyPath="yes" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\irc\DefaultIcon">
          <RegistryValue Type="string" Value="[INSTALLFOLDER]fabulor.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\irc\shell">
          <RegistryValue Type="string" Value="open" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\irc\shell\open\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]fabulor.exe&quot; --url=&quot;%1&quot;" />
        </RegistryKey>
      </Component>
      <Component Id="IrcsProtocolFallbackRegistration" Guid="12CD8341-88B1-467E-BFC2-265473D98432" Directory="INSTALLFOLDER" Condition="NOT FABULOR_PORTABLE AND (NOT IRCS_PROTOCOL_HANDLER OR IRCS_PROTOCOL_HANDLER ~&gt;&lt; &quot;fabulor.exe&quot;)" NeverOverwrite="yes">
        <RegistryKey Root="HKLM" Key="Software\Classes\ircs">
          <RegistryValue Type="string" Value="URL:IRCS Protocol" />
          <RegistryValue Name="URL Protocol" Type="string" Value="" KeyPath="yes" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\ircs\DefaultIcon">
          <RegistryValue Type="string" Value="[INSTALLFOLDER]fabulor.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\ircs\shell">
          <RegistryValue Type="string" Value="open" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\ircs\shell\open\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]fabulor.exe&quot; --url=&quot;%1&quot;" />
        </RegistryKey>
      </Component>
      <Component Id="ThemeAssociationRegistration" Guid="C4B1CE84-9B3D-4A8F-A44A-FB0CEB45D3A6" Directory="INSTALLFOLDER" Condition="NOT FABULOR_PORTABLE">
        <RegistryKey Root="HKLM" Key="Software\Classes\.hct">
          <RegistryValue Type="string" Value="Fabulor.Theme" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\Fabulor.Theme">
          <RegistryValue Type="string" Value="Fabulor Theme" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\Fabulor.Theme\DefaultIcon">
          <RegistryValue Type="string" Value="[INSTALLFOLDER]fabulor.exe,0" />
        </RegistryKey>
        <RegistryKey Root="HKLM" Key="Software\Classes\Fabulor.Theme\shell\open\command">
          <RegistryValue Type="string" Value="&quot;[INSTALLFOLDER]fabulor.exe&quot; &quot;%1&quot;" />
        </RegistryKey>
        <RegistryValue Root="HKLM"
                       Key="Software\Fabulor\Installer"
                       Name="ThemeAssociation"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
