<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="Gtk4CandidatePluginHostManifestComponents" Directory="RUNTIMEDIR">
      <Files Include="$(var.Gtk4PluginHostRoot)\Runtime\plugin-host-manifest.json" />
    </ComponentGroup>

    <ComponentGroup Id="Gtk4CandidatePythonHostComponents" Directory="PLUGINDIR">
      <Files Include="$(var.Gtk4FrontendRoot)\plugins\hcpython3.dll" />
    </ComponentGroup>

    <ComponentGroup Id="Gtk4CandidatePythonApiComponents" Directory="PYTHONAPIDIR">
      <Files Include="$(var.Gtk4PluginHostRoot)\python\**" />
    </ComponentGroup>

    <ComponentGroup Id="Gtk4CandidatePythonRuntimeComponents" Directory="PYDIR">
      <Files Include="$(var.Gtk4PluginHostRoot)\Runtime\Python314\**" />
    </ComponentGroup>

    <ComponentGroup Id="Gtk4CandidateTclBinComponents" Directory="TCLBINDIR">
      <Files Include="$(var.Gtk4PluginHostRoot)\Runtime\Tcl\bin\**" />
    </ComponentGroup>

    <ComponentGroup Id="Gtk4CandidateTclLibComponents" Directory="TCLLIBDIR">
      <Files Include="$(var.Gtk4PluginHostRoot)\Runtime\Tcl\lib\**" />
    </ComponentGroup>

    <ComponentGroup Id="Gtk4CandidateManagedHostComponents" Directory="DOTNETDIR">
      <Files Include="$(var.Gtk4PluginHostRoot)\Runtime\DotNet\Fabulor.PluginAbstractions.dll" />
      <Files Include="$(var.Gtk4PluginHostRoot)\Runtime\DotNet\Fabulor.PluginHost.deps.json" />
      <Files Include="$(var.Gtk4PluginHostRoot)\Runtime\DotNet\Fabulor.PluginHost.dll" />
      <Files Include="$(var.Gtk4PluginHostRoot)\Runtime\DotNet\Fabulor.PluginHost.runtimeconfig.json" />
    </ComponentGroup>

    <ComponentGroup Id="Gtk4CandidateDotNetHostFxrComponents" Directory="DOTNETFXRVERSIONDIR">
      <Files Include="$(var.Gtk4PluginHostRoot)\Runtime\DotNet\host\fxr\$(var.BundledDotNetRuntimeVersion)\**" />
    </ComponentGroup>

    <ComponentGroup Id="Gtk4CandidateDotNetSharedRuntimeComponents" Directory="DOTNETCOREAPPVERSIONDIR">
      <Files Include="$(var.Gtk4PluginHostRoot)\Runtime\DotNet\shared\Microsoft.NETCore.App\$(var.BundledDotNetRuntimeVersion)\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
