<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="PythonRuntimeComponents" Directory="PYDIR">
      <Files Include="$(var.PythonRuntimeRoot)\**" />
      <Files Include="$(var.FabulorPayloadRoot)\_cffi_backend.*.pyd" />
    </ComponentGroup>
  </Fragment>
</Wix>
