<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ThemeAssetComponents">
      <Component Id="AdwaitaIconsAttributionAsset" Guid="E4038AE8-C71C-440D-9876-61A6B7FA6D28" Directory="SHAREDIR">
        <File Id="AdwaitaIconsAttributionAssetFile"
              Source="$(var.FabulorPayloadRoot)\share\adwaita-icons-attribution.txt"
              Name="adwaita-icons-attribution.txt"
              KeyPath="yes" />
      </Component>
      <Component Id="GtkPreferencesAsset" Guid="38C556BA-83A0-4522-996A-7506510B2DE7" Directory="SHAREDIR">
        <File Id="GtkPreferencesAssetFile"
              Source="$(var.FabulorPayloadRoot)\share\gtkpref.png"
              Name="gtkpref.png"
              KeyPath="yes" />
      </Component>
      <Component Id="HicolorIndexThemeAsset" Guid="D8D45129-61A3-4A98-8A4F-37D92EB139FD" Directory="HICOLORDIR">
        <File Id="HicolorIndexThemeAssetFile"
              Source="$(sys.SOURCEFILEDIR)..\..\data\icons\hicolor\index.theme"
              Name="index.theme"
              KeyPath="yes" />
      </Component>
      <Component Id="Hicolor48AppIconAsset" Guid="8A7D631A-D735-4A93-9A7A-85A1D9DB0FD4" Directory="HICOLOR48APPDIR">
        <File Id="Hicolor48AppIconAssetFile"
              Source="$(sys.SOURCEFILEDIR)..\..\data\icons\fabulor.png"
              Name="net.fabulor.Fabulor.png"
              KeyPath="yes" />
      </Component>
      <Component Id="HicolorScalableAppIconAsset" Guid="0635F58A-B084-4B5B-B43F-553A67A896A0" Directory="HICOLORSCALABLEAPPDIR">
        <File Id="HicolorScalableAppIconAssetFile"
              Source="$(sys.SOURCEFILEDIR)..\..\data\icons\Fabulor.svg"
              Name="net.fabulor.Fabulor.svg"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CommonShareAssetComponents">
      <Component Id="MusicAsset" Guid="35584C2B-7E79-4AB7-8B87-76D44099D4A3" Directory="SHAREDIR">
        <File Id="MusicAssetFile"
              Source="$(var.FabulorPayloadRoot)\share\music.png"
              Name="music.png"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="SysinfoPluginShareAssetComponents">
      <Component Id="SysinfoShareAsset" Guid="4B7E7A99-3F13-4D81-90C3-3495A93A1D75" Directory="SHAREDIR">
        <File Id="SysinfoShareAssetFile"
              Source="$(var.FabulorPayloadRoot)\share\system.png"
              Name="system.png"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="UpdatePluginShareAssetComponents">
      <Component Id="UpdatePluginShareAsset" Guid="2154F42D-C4A7-40D0-A414-446D41A10E8F" Directory="SHAREDIR">
        <File Id="UpdatePluginShareAssetFile"
              Source="$(var.FabulorPayloadRoot)\share\download.png"
              Name="download.png"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
