<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ApplicationDocumentationComponents">
      <Component Id="FabulorLicenseDocument" Directory="SHAREFABULORDOCDIR" Guid="A2C34DF8-9374-482E-A064-7551E5818699">
        <File Id="FabulorLicenseDocumentFile"
              Source="$(sys.SOURCEFILEDIR)..\..\Licence.md"
              Name="Licence.md"
              KeyPath="yes" />
      </Component>
      <Component Id="NotoEmojiLicenseDocument" Directory="SHARENOTODOCDIR" Guid="30039D4F-32E9-4DDA-964D-B88354E22286">
        <File Id="NotoEmojiLicenseDocumentFile"
              Source="$(sys.SOURCEFILEDIR)..\..\data\fonts\NotoColorEmoji-LICENSE.txt"
              Name="NotoColorEmoji-LICENSE.txt"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ApplicationEmojiFlagComponents" Directory="SHAREEMOJIFLAGSDIR">
      <Files Include="$(sys.SOURCEFILEDIR)..\..\data\emoji-flags\*.png" />
    </ComponentGroup>

    <ComponentGroup Id="ApplicationFontComponents" Directory="SHAREFONTSDIR">
      <Files Include="$(sys.SOURCEFILEDIR)..\..\data\fonts\NotoColorEmoji.ttf" />
    </ComponentGroup>

    <ComponentGroup Id="TranslationsComponents" Directory="SHARELOCALEDIR">
      <Files Include="$(var.Gtk4LocaleRoot)\**\fabulor.mo" />
    </ComponentGroup>
  </Fragment>
</Wix>
