<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ThemeAssetComponents">
      <Component Id="AdwaitaIconsAttributionAsset" Guid="E4038AE8-C71C-440D-9876-61A6B7FA6D28" Directory="SHAREDIR">
        <File Id="AdwaitaIconsAttributionAssetFile"
              Source="$(sys.SOURCEFILEDIR)..\..\win32\copy\share\adwaita-icons-attribution.txt"
              Name="adwaita-icons-attribution.txt"
              KeyPath="yes" />
      </Component>
      <Component Id="GtkPreferencesAsset" Guid="38C556BA-83A0-4522-996A-7506510B2DE7" Directory="SHAREDIR">
        <File Id="GtkPreferencesAssetFile"
              Source="$(sys.SOURCEFILEDIR)..\..\win32\copy\share\gtkpref.png"
              Name="gtkpref.png"
              KeyPath="yes" />
      </Component>
      <Component Id="FabulorDarkPaletteAsset" Guid="476CD7A0-8C01-41FA-8485-161CA4015289" Directory="SHAREPALETTEDIR">
        <File Id="FabulorDarkPaletteAssetFile"
              Source="$(sys.SOURCEFILEDIR)..\..\data\palettes\Fabulor Dark.hct"
              Name="Fabulor Dark.hct"
              KeyPath="yes" />
      </Component>
      <Component Id="Hicolor48AppIconAsset" Guid="8A7D631A-D735-4A93-9A7A-85A1D9DB0FD4" Directory="HICOLOR48APPDIR">
        <File Id="Hicolor48AppIconAssetFile"
              Source="$(sys.SOURCEFILEDIR)..\..\data\icons\fabulor.png"
              Name="net.fabulor.Fabulor.png"
              KeyPath="yes" />
      </Component>
      <Component Id="HicolorScalableAppIconAsset" Guid="0635F58A-B084-4B5B-B43F-553A67A896A0" Directory="HICOLORSCALABLEAPPDIR">
        <File Id="HicolorScalableAppIconAssetFile"
              Source="$(sys.SOURCEFILEDIR)..\..\data\icons\Fabulor.svg"
              Name="net.fabulor.Fabulor.svg"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="AdwaitaIconThemeComponents" Directory="ADWAITACATEGORYDIR">
      <Component Id="AdwaitaEmojiIndexThemeAsset" Guid="AF29006A-6D5E-4AE5-A8D8-BD06CB6F7C8F" Directory="ADWAITADIR">
        <File Id="AdwaitaEmojiIndexThemeAssetFile"
              Source="$(sys.SOURCEFILEDIR)..\..\data\icons\adwaita\index.theme"
              Name="index.theme"
              KeyPath="yes" />
      </Component>
      <Files Include="$(sys.SOURCEFILEDIR)..\..\data\icons\adwaita\symbolic\categories\**" />
    </ComponentGroup>

    <ComponentGroup Id="CommonShareAssetComponents">
      <Component Id="MusicAsset" Guid="35584C2B-7E79-4AB7-8B87-76D44099D4A3" Directory="SHAREDIR">
        <File Id="MusicAssetFile"
              Source="$(sys.SOURCEFILEDIR)..\..\win32\copy\share\music.png"
              Name="music.png"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="SysinfoPluginShareAssetComponents">
      <Component Id="SysinfoShareAsset" Guid="4B7E7A99-3F13-4D81-90C3-3495A93A1D75" Directory="SHAREDIR">
        <File Id="SysinfoShareAssetFile"
              Source="$(sys.SOURCEFILEDIR)..\..\win32\copy\share\system.png"
              Name="system.png"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="UpdatePluginShareAssetComponents">
      <Component Id="UpdatePluginShareAsset" Guid="2154F42D-C4A7-40D0-A414-446D41A10E8F" Directory="SHAREDIR">
        <File Id="UpdatePluginShareAssetFile"
              Source="$(sys.SOURCEFILEDIR)..\..\win32\copy\share\download.png"
              Name="download.png"
              KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
