<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Bundle
    Id="Fabulor.Setup.Bundle"
    Name="Fabulor Setup"
    Version="$(var.FabulorSemVer)"
    Manufacturer="Fabulor Project"
    AboutUrl="https://github.com/Fabulor/fabulor/blob/main/README.md"
    HelpUrl="https://github.com/Fabulor/fabulor/tree/main/docs"
    IconSourceFile="..\..\data\icons\fabulor.ico"
    UpgradeCode="D9F4A5C2-7F3B-4F9E-9A21-3C8F6B7E4A10">

    <BootstrapperApplication SourceFile="$(var.BundleBootstrapperApplicationRoot)\Fabulor.BA.exe">
      <Payload SourceFile="$(var.BundleBootstrapperApplicationRoot)\Fabulor.BA.dll" />
      <Payload SourceFile="$(var.BundleBootstrapperApplicationRoot)\Fabulor.BA.deps.json" />
      <Payload SourceFile="$(var.BundleBootstrapperApplicationRoot)\Fabulor.BA.runtimeconfig.json" />
      <Payload SourceFile="$(var.BundleBootstrapperApplicationRoot)\WixToolset.BootstrapperApplicationApi.dll" />
      <Payload SourceFile="$(var.BundleBootstrapperApplicationRoot)\runtimes\win-x64\native\mbanative.dll" />
    </BootstrapperApplication>

    <Variable Name="InstallFolder"
              Type="string"
              Value="[ProgramFiles64Folder]Fabulor" />
    <Variable Name="FABULOR_PORTABLE"
              Type="string"
              Value="" />
    <Variable Name="FABULOR_NO_HANDOFF"
              Type="string"
              Value="" />

    <Chain>
      <MsiPackage
        Id="FabulorMsi"
        SourceFile="$(var.BundleMsiPath)"
        DisplayName="Fabulor"
        EnableFeatureSelection="yes"
        Compressed="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
        <MsiProperty Name="FABULOR_PORTABLE" Value="[FABULOR_PORTABLE]" />
        <MsiProperty Name="ARPSYSTEMCOMPONENT" Value="1" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>
